.block{
    display:block;
}
nav li{
    display:inline;
    font-size:30px;
    margin-right:30px;
    
}
nav a{
    color:orangered;
}
.dropDownBox{
    color:green;
    background-color: aqua;
}
.dropDownMain{
    color:darkblue;
    background-color: red;
}
body{
background-image: url(https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Pyke_0.jpg);


  background-repeat: no-repeat;
  background-size: cover;
}
p, label{
    color:white;
}
h1{
    color:red;
}
form input{
    color:white;
}
.pykedesc{
    width:25%;
    font-size:30px;
}
.pirateips{
    width: 25%;
    font-size:30px;
}
.inputbut{
    color:black;
}
footer{
    display:inline;
    font-size:30px;
    margin-right:30px;
    
}
footer a{
    color:aqua;
}