.block{
    display:block;
}
nav li{
    display:inline;
    font-size:30px;
    margin-right:30px;
    
}
nav a{
    color:orangered;
}
.dropDownBox{
    color:green;
    background-color: aqua;
}
.dropDownMain{
    color:darkblue;
    background-color: red;
}
body{
background-image: url(https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Pyke_0.jpg);


  background-repeat: no-repeat;
  background-size: cover;
}
p, label{
    color:white;
}
h1{
    color:red;
}
form input{
    color:white;
}
.pykedesc{
    width:25%;
    font-size:30px;
}
.pirateips{
    width: 25%;
    font-size:30px;
    font-family: 'Teko', sans-serif;
}
.inputbut{
    color:black;
}
footer{
    display:inline;
    font-size:30px;
    margin-right:30px;
    
}
footer a{
    color:aqua;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkred;
}
li {
    float: left;
}
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
    background-color: #0088ce;
}
li.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {background-color: #f1f1f1}
.dropdown:hover .dropdown-content {
    display: block;
}
.container-1 {
    display: flex;
    
    /*
    align-items: flex-start;
    align-items: flex-end;
    align-items: center;
    align-items: stretch;
    
    flex-direction: column;
    */
  }
  .container-1 div, .container-2 div{
    border: 1px #ccc solid;
    padding: 10px;
    font-family: 'Baloo Da 2', cursive;
  }
  .text-focus-in {
	-webkit-animation: text-focus-in 5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  .footer {
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: darkred;
    color: white;
    text-align: center;
  }
  